<html>

<head>

</head>

<body>

    <div style="height:35px;background-color:red"> HEADER</div>

    @* Content Index/Privacy etc.. *@ 
    @RenderBody()


    <div style="height:35px;background-color:red"> FOOTER</div>
</body>



</html>