<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>


    <div style="border-color:red;border-width:1px; height:100px;background-color:red">
        <h1>Header</h1>
    </div>

    <table width="100%">
        <tr>
            <td>
                <div style="background-color:orange">

                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            <p> Menu @i</p>
                        }
                    }


                </div>

            </td>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>




    <div style="border-color:red;border-width:1px; height:100px;background-color:brown">
        <h1>Footer</h1>
    </div>

</body>
</html>
