@model List<Week1.Models.Student>

@* @{
    var students = ViewBag.students;
} *@

<html>
<head>

</head>

<body>
    <h1>Students</h1>
    
<a href="/students/create"> Create new </a>
<table border="1">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Student Id</td>
            <td>Description</td>
            <td>Operation</td>
        </tr>

        @{
            foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>

                    <td>@student.StudentId</td>

                    <td>@student.Description</td>
                    <td>
                          
                        <a href="/students/edit/@student.Id"> Edit </a> |
                        
                            
                        <a href="/students/delete/@student.Id"> Delete </a>
                    </td>

                </tr>
            }
        }
    </table>


</body>

</html>