@model Week1.Models.Student


<html>
<head>

</head>

<body>
<h1>Hello World</h1>
<h2>
    @Model.Id 
</h2>
<h2>
    @Model.Name 
</h2>
<h2>
    @Model.Description
</h2>
    <h2>
        @Model.StudentId
    </h2>
</body>

</html>